{# DASHBOARD DASHBOARD TEMPLATE #}
{% extends 'main_dashboard.twig' %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.dashboard.page_title }}</h5>
{% endblock %}

{% block main %}

{% endblock %}
