{# DASHBOARD GENERAL SETTINGS TEMPLATE #}

{% extends 'main_dashboard.twig' %}

{% block init %}

{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('extras/javascript/dashboard_settings.js') }}"></script>
{% endblock %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.settings_general.page_title }}</h5>
  <div class="col s12 m12 l12 xl12">
    <div class="collection">
      <a class="collection-item" href="{{ path('dashboard_settings_main') }}"><i class="material-icons left">arrow_back</i>{{ translation.dashboard.settings_general.back_to_settings }}</a>
    </div>
  </div>
{% endblock %}
