{# DASHBOARD GENERAL SETTINGS TEMPLATE #}

{% extends 'main_dashboard.twig' %}

{% block init %}

{% endblock %}

{% block header %}
  <a href="{{ path('dashboard_settings_main') }}">Настройки магазина</a>
{% endblock %}
