{# DASHBOARD DASHBOARD TEMPLATE #}
{% extends 'main_dashboard.twig' %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.dashboard.page_title }}</h5>
{% endblock %}

{% block main %}
  <ul class="tabs">
    <li class="tab col s6 m6 l6 xl6"><a class="active" href="#test1">Заказы</a></li>
    <li class="tab col s6 m6 l6 xl6"><a href="#test2">Сообщения</a></li>
  </ul>

  <div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">Test 2</div>

{% endblock %}
